
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  /* background-color: #DEEDF0 */
  /* background-color: #F0F0F0 */
  /* background-color: #F4CCA4 */
  /* background-color: #E7E6E1 */
  background-color: #F7E9E3
  
}
header{
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #030303;
  z-index: 1;
}
h1 {
  margin-left: 5%;
  position: absolute;
  padding-top: 2%;
  color: #f1f1f1;
}
h1 a {
  text-decoration: none;
  color: #f1f1f1;
}

nav{
  margin-right: 5%;
 padding-top: 1%;
 float: right; 
}
nav ul li{
  display: inline;
}

/* this will be for other tabs in header  */

.dropbtn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  background-color: #030303;
  color: #f1f1f1;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  border-radius: 9px;
  display: none;
  position: absolute;
  background-color: #1E212D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  cursor: pointer;
  color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* this is for hover only for menu  */
.dropdown-content a:hover {background-color: #ddd; border-radius: 9px;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #1E212D;}


* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;}
.mySlides {display: none;} */
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}
.imgPic{
  width: 100%;
  margin: 0%;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


#mid-section{
  position: relative;
}
#videoEdit{
width: 40%;
margin-left: 3%;
}
video{
  margin-top: 10%;
  position:absolute
  
}
#introduction-right{
  margin-left: 45%;
  margin-top: 10%;
  margin-right: 3%;
  line-height: 20px;
  font-weight: 500;
  /* font-size: 20px; */
  /* text-indent: 50px; */
  text-align: justify;
  position:absolute
}
#introduction-right h2 {

  font-size: 35px;

}


/* card-container */
#container {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 800px 0;
}
.card-container {
  display:inline-block;
  cursor: pointer;
  height: 550px;
  perspective: 600;
  position: relative;
  width: 320px;
  padding-left: 7%;
  margin-left: 8%;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #FFBD9B;
  padding-top: 40%;
  color: #030303;
  font-weight: 700;
  font-size: 150%;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}
#pic1{
  width: 128%;
}
#pic2{
  width: 148%;
}
#pic3{
  width: 128%;
}


/* footer style sheet  */

footer{
  margin: 0%;
  height: 50%;
background-color: #030303;
}
.icon{
  width: 30px;
}
#footerOne ul {
  /* margin: 2%; */
  padding: 2%;
}
#footerOne ul li {
  float: right;
  padding:2%;
  padding-left: 6%;
}
#footerTwo {
  color: #f1f1f1;
  line-height: 20px;
  padding-bottom: 1%;
  margin-left: 20%;
  text-align: -webkit-center
}
#logo{
  color: #f1f1f1;
  position: absolute;

  margin-left: 3.5%;
  margin-top: 3% ;
}
#logo a{
  text-decoration: none;
  color: #f1f1f1;

}
#show{
  background: #970e0e;
}